<page-header [title]="'敏感词'"
     [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item><a routerLink="/">home</a></nz-breadcrumb-item>
            <nz-breadcrumb-item><a href="javascript:;">系统模块</a></nz-breadcrumb-item>
            <nz-breadcrumb-item><a href="javascript:;">系统设置</a></nz-breadcrumb-item>
            <nz-breadcrumb-item><a href="javascript:;">敏感词</a></nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>
</page-header>
<nz-card [nzBordered]="false">
   开发中....
</nz-card>
