.inputBorder{
    height: 28px;
    border: 1px solid #ebeef2;
    vertical-align: middle;
    padding-left: 10px;
    border-radius: 4px;
}
.inputContainer{
    text-align: left;
    margin-bottom: 20px;
    margin-left: 45px;
}
div.demo-chart>canvas{
    width: 790px!important;
}
