<page-header [title]="'机构管理'"[action]="action"
     [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item><a routerLink="/">home</a></nz-breadcrumb-item>
            <nz-breadcrumb-item><a href="javascript:;">系统模块</a></nz-breadcrumb-item>
            <nz-breadcrumb-item><a href="javascript:;">权限管理</a></nz-breadcrumb-item>
            <nz-breadcrumb-item><a href="javascript:;">机构管理</a></nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>
    <ng-template #action>
        <button nz-button [nzType]="'primary'" (click)="add()" ><i nz-icon type="plus"></i><span>新建</span></button>
    </ng-template>
</page-header>
<nz-card [nzBordered]="false" style="min-height: 717px!important;">
    <nz-table
        #ajaxTable
        nzBordered
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="dataSet"
        [nzLoading]="loading"
        [nzTotal]="total"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        [nzShowTotal]="totalTemplate"
        (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)"
        [nzShowPagination]="true">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
            <th nzShowSort nzSortKey="id">ID</th>
            <th nzShowSort nzSortKey="name">机构名称</th>
            <th nzShowSort nzSortKey="parentName">上级机构</th>
            <th nzShowSort nzSortKey="address">归属地</th>
            <th nzShowSort nzSortKey="telephone">联系方式</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataSet">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.parentName}}</td>
            <td>{{data.address}}</td>
            <td>{{data.telephone}}</td>
            <td>
                <a (click)="edit(data.id)">编辑</a>&nbsp;
                <a (click)="delete(data.id)">删除</a>&nbsp;
                <a (click)="check(data.id)">查看</a>&nbsp;
                <a (click)="own(data.id,data.name)">关联人员</a>
            </td>
        </tr>
        </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total>
        总共 {{total}} 条
    </ng-template>
</nz-card>
