<div class="alain-default__content-title">
    <h1>
        Icons
    </h1>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24">
        <nz-card nzTitle="方向性图标">
            <ul class="icons-list">
                <li>
                    <i nz-icon type="step-backward" theme="outline"></i>
                    <span>step-backward</span>
                </li>
                <li>
                    <i nz-icon type="step-forward" theme="outline"></i>
                    <span>step-forward</span>
                </li>
                <li>
                    <i nz-icon type="fast-backward" theme="outline"></i>
                    <span>fast-backward</span>
                </li>
                <li>
                    <i nz-icon type="fast-forward" theme="outline"></i>
                    <span>fast-forward</span>
                </li>
                <li>
                    <i nz-icon type="shrink" theme="outline"></i>
                    <span>shrink</span>
                </li>
                <li>
                    <i nz-icon type="arrows-alt" theme="outline"></i>
                    <span>arrows-alt</span>
                </li>
                <li>
                    <i nz-icon type="down" theme="outline"></i>
                    <span>down</span>
                </li>
                <li>
                    <i nz-icon type="up" theme="outline"></i>
                    <span>up</span>
                </li>
                <li>
                    <i nz-icon type="left" theme="outline"></i>
                    <span>left</span>
                </li>
                <li>
                    <i nz-icon type="right" theme="outline"></i>
                    <span>right</span>
                </li>
                <li>
                    <i nz-icon type="caret-up" theme="outline"></i>
                    <span>caret-up</span>
                </li>
                <li>
                    <i nz-icon type="caret-down" theme="outline"></i>
                    <span>caret-down</span>
                </li>
                <li>
                    <i nz-icon type="caret-left" theme="outline"></i>
                    <span>caret-left</span>
                </li>
                <li>
                    <i nz-icon type="caret-right" theme="outline"></i>
                    <span>caret-right</span>
                </li>
                <li>
                    <i nz-icon type="up-circle" theme="outline"></i>
                    <span>up-circle</span>
                </li>
                <li>
                    <i nz-icon type="down-circle" theme="outline"></i>
                    <span>down-circle</span>
                </li>
                <li>
                    <i nz-icon type="left-circle" theme="outline"></i>
                    <span>left-circle</span>
                </li>
                <li>
                    <i nz-icon type="right-circle" theme="outline"></i>
                    <span>right-circle</span>
                </li>
                <li>
                    <i nz-icon type="double-right" theme="outline"></i>
                    <span>double-right</span>
                </li>
                <li>
                    <i nz-icon type="double-left" theme="outline"></i>
                    <span>double-left</span>
                </li>
                <li>
                    <i nz-icon type="vertical-left" theme="outline"></i>
                    <span>vertical-left</span>
                </li>
                <li>
                    <i nz-icon type="vertical-right" theme="outline"></i>
                    <span>vertical-right</span>
                </li>
                <li>
                    <i nz-icon type="forward" theme="outline"></i>
                    <span>forward</span>
                </li>
                <li>
                    <i nz-icon type="backward" theme="outline"></i>
                    <span>backward</span>
                </li>
                <li>
                    <i nz-icon type="rollback" theme="outline"></i>
                    <span>rollback</span>
                </li>
                <li>
                    <i nz-icon type="enter" theme="outline"></i>
                    <span>enter</span>
                </li>
                <li>
                    <i nz-icon type="retweet" theme="outline"></i>
                    <span>retweet</span>
                </li>
                <li>
                    <i nz-icon type="swap" theme="outline"></i>
                    <span>swap</span>
                </li>
                <li>
                    <i nz-icon type="swap-left" theme="outline"></i>
                    <span>swap-left</span>
                </li>
                <li>
                    <i nz-icon type="swap-right" theme="outline"></i>
                    <span>swap-right</span>
                </li>
                <li>
                    <i nz-icon type="arrow-up" theme="outline"></i>
                    <span>arrow-up</span>
                </li>
                <li>
                    <i nz-icon type="arrow-down" theme="outline"></i>
                    <span>arrow-down</span>
                </li>
                <li>
                    <i nz-icon type="arrow-left" theme="outline"></i>
                    <span>arrow-left</span>
                </li>
                <li>
                    <i nz-icon type="arrow-right" theme="outline"></i>
                    <span>arrow-right</span>
                </li>
                <li>
                    <i nz-icon type="play-circle" theme="outline"></i>
                    <span>play-circle</span>
                </li>
                <li>
                    <i nz-icon type="up-square" theme="outline"></i>
                    <span>up-square</span>
                </li>
                <li>
                    <i nz-icon type="down-square" theme="outline"></i>
                    <span>down-square</span>
                </li>
                <li>
                    <i nz-icon type="left-square" theme="outline"></i>
                    <span>left-square</span>
                </li>
                <li>
                    <i nz-icon type="right-square" theme="outline"></i>
                    <span>right-square</span>
                </li>
                <li>
                    <i nz-icon type="login" theme="outline"></i>
                    <span>login</span>
                </li>
                <li>
                    <i nz-icon type="logout" theme="outline"></i>
                    <span>logout</span>
                </li>
                <li>
                    <i nz-icon type="menu-fold" theme="outline"></i>
                    <span>menu-fold</span>
                </li>
                <li>
                    <i nz-icon type="menu-unfold" theme="outline"></i>
                    <span>menu-unfold</span>
                </li>
                <li>
                    <i nz-icon type="border-bottom" theme="outline"></i>
                    <span>border-bottom</span>
                </li>
                <li>
                    <i nz-icon type="border-horizontal" theme="outline"></i>
                    <span>border-horizontal</span>
                </li>
                <li>
                    <i nz-icon type="border-inner" theme="outline"></i>
                    <span>border-inner</span>
                </li>
                <li>
                    <i nz-icon type="border-left" theme="outline"></i>
                    <span>border-left</span>
                </li>
                <li>
                    <i nz-icon type="border-right" theme="outline"></i>
                    <span>border-right</span>
                </li>
                <li>
                    <i nz-icon type="border-top" theme="outline"></i>
                    <span>border-top</span>
                </li>
                <li>
                    <i nz-icon type="border-verticle" theme="outline"></i>
                    <span>border-verticle</span>
                </li>
                <li>
                    <i nz-icon type="pic-center" theme="outline"></i>
                    <span>pic-center</span>
                </li>
                <li>
                    <i nz-icon type="pic-left" theme="outline"></i>
                    <span>pic-left</span>
                </li>
                <li>
                    <i nz-icon type="pic-right" theme="outline"></i>
                    <span>pic-right</span>
                </li>
                <li>
                    <i nz-icon type="radius-bottomleft" theme="outline"></i>
                    <span>radius-bottomleft</span>
                </li>
                <li>
                    <i nz-icon type="radius-bottomright" theme="outline"></i>
                    <span>radius-bottomright</span>
                </li>
                <li>
                    <i nz-icon type="radius-upleft" theme="outline"></i>
                    <span>radius-upleft</span>
                </li>
                <li>
                    <i nz-icon type="fullscreen" theme="outline"></i>
                    <span>fullscreen</span>
                </li>
                <li>
                    <i nz-icon type="fullscreen-exit" theme="outline"></i>
                    <span>fullscreen-exit</span>
                </li>
            </ul>
        </nz-card>
    </div>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24">
        <nz-card nzTitle="网站通用图标">
            <ul class="icons-list">
                <li>
                    <i nz-icon type="lock" theme="outline"></i>
                    <span>lock</span>
                </li>
                <li>
                    <i nz-icon type="unlock" theme="outline"></i>
                    <span>unlock</span>
                </li>
                <li>
                    <i nz-icon type="bars" theme="outline"></i>
                    <span>bars</span>
                </li>
                <li>
                    <i nz-icon type="book" theme="outline"></i>
                    <span>book</span>
                </li>
                <li>
                    <i nz-icon type="calendar" theme="outline"></i>
                    <span>calendar</span>
                </li>
                <li>
                    <i nz-icon type="cloud" theme="outline"></i>
                    <span>cloud</span>
                </li>
                <li>
                    <i nz-icon type="cloud-download" theme="outline"></i>
                    <span>cloud-download</span>
                </li>
                <li>
                    <i nz-icon type="code" theme="outline"></i>
                    <span>code</span>
                </li>
                <li>
                    <i nz-icon type="copy" theme="outline"></i>
                    <span>copy</span>
                </li>
                <li>
                    <i nz-icon type="credit-card" theme="outline"></i>
                    <span>credit-card</span>
                </li>
                <li>
                    <i nz-icon type="delete" theme="outline"></i>
                    <span>delete</span>
                </li>
                <li>
                    <i nz-icon type="desktop" theme="outline"></i>
                    <span>desktop</span>
                </li>
                <li>
                    <i nz-icon type="download" theme="outline"></i>
                    <span>download</span>
                </li>
                <li>
                    <i nz-icon type="ellipsis" theme="outline"></i>
                    <span>ellipsis</span>
                </li>
                <li>
                    <i nz-icon type="file" theme="outline"></i>
                    <span>file</span>
                </li>
                <li>
                    <i nz-icon type="file-text" theme="outline"></i>
                    <span>file-text</span>
                </li>
                <li>
                    <i nz-icon type="file-unknown" theme="outline"></i>
                    <span>file-unknown</span>
                </li>
                <li>
                    <i nz-icon type="file-pdf" theme="outline"></i>
                    <span>file-pdf</span>
                </li>
                <li>
                    <i nz-icon type="file-word" theme="outline"></i>
                    <span>file-word</span>
                </li>
                <li>
                    <i nz-icon type="file-excel" theme="outline"></i>
                    <span>file-excel</span>
                </li>
                <li>
                    <i nz-icon type="file-jpg" theme="outline"></i>
                    <span>file-jpg</span>
                </li>
                <li>
                    <i nz-icon type="file-ppt" theme="outline"></i>
                    <span>file-ppt</span>
                </li>
                <li>
                    <i nz-icon type="file-markdown" theme="outline"></i>
                    <span>file-markdown</span>
                </li>
                <li>
                    <i nz-icon type="file-add" theme="outline"></i>
                    <span>file-add</span>
                </li>
                <li>
                    <i nz-icon type="folder" theme="outline"></i>
                    <span>folder</span>
                </li>
                <li>
                    <i nz-icon type="folder-open" theme="outline"></i>
                    <span>folder-open</span>
                </li>
                <li>
                    <i nz-icon type="folder-add" theme="outline"></i>
                    <span>folder-add</span>
                </li>
                <li>
                    <i nz-icon type="hdd" theme="outline"></i>
                    <span>hdd</span>
                </li>
                <li>
                    <i nz-icon type="frown" theme="outline"></i>
                    <span>frown</span>
                </li>
                <li>
                    <i nz-icon type="meh" theme="outline"></i>
                    <span>meh</span>
                </li>
                <li>
                    <i nz-icon type="smile" theme="outline"></i>
                    <span>smile</span>
                </li>
                <li>
                    <i nz-icon type="inbox" theme="outline"></i>
                    <span>inbox</span>
                </li>
                <li>
                    <i nz-icon type="laptop" theme="outline"></i>
                    <span>laptop</span>
                </li>
                <li>
                    <i nz-icon type="appstore" theme="outline"></i>
                    <span>appstore</span>
                </li>
                <li>
                    <i nz-icon type="link" theme="outline"></i>
                    <span>link</span>
                </li>
                <li>
                    <i nz-icon type="mail" theme="outline"></i>
                    <span>mail</span>
                </li>
                <li>
                    <i nz-icon type="mobile" theme="outline"></i>
                    <span>mobile</span>
                </li>
                <li>
                    <i nz-icon type="notification" theme="outline"></i>
                    <span>notification</span>
                </li>
                <li>
                    <i nz-icon type="paper-clip" theme="outline"></i>
                    <span>paper-clip</span>
                </li>
                <li>
                    <i nz-icon type="picture" theme="outline"></i>
                    <span>picture</span>
                </li>
                <li>
                    <i nz-icon type="poweroff" theme="outline"></i>
                    <span>poweroff</span>
                </li>
                <li>
                    <i nz-icon type="reload" theme="outline"></i>
                    <span>reload</span>
                </li>
                <li>
                    <i nz-icon type="search" theme="outline"></i>
                    <span>search</span>
                </li>
                <li>
                    <i nz-icon type="setting" theme="outline"></i>
                    <span>setting</span>
                </li>
                <li>
                    <i nz-icon type="share-alt" theme="outline"></i>
                    <span>share-alt</span>
                </li>
                <li>
                    <i nz-icon type="shopping-cart" theme="outline"></i>
                    <span>shopping-cart</span>
                </li>
                <li>
                    <i nz-icon type="tablet" theme="outline"></i>
                    <span>tablet</span>
                </li>
                <li>
                    <i nz-icon type="tag" theme="outline"></i>
                    <span>tag</span>
                </li>
                <li>
                    <i nz-icon type="tags" theme="outline"></i>
                    <span>tags</span>
                </li>
                <li>
                    <i nz-icon type="to-top" theme="outline"></i>
                    <span>to-top</span>
                </li>
                <li>
                    <i nz-icon type="upload" theme="outline"></i>
                    <span>upload</span>
                </li>
                <li>
                    <i nz-icon type="user" theme="outline"></i>
                    <span>user</span>
                </li>
                <li>
                    <i nz-icon type="video-camera" theme="outline"></i>
                    <span>video-camera</span>
                </li>
                <li>
                    <i nz-icon type="home" theme="outline"></i>
                    <span>home</span>
                </li>
                <li>
                    <i nz-icon type="loading" theme="outline"></i>
                    <span>loading</span>
                </li>
                <li>
                    <i nz-icon type="loading-3-quarters" theme="outline"></i>
                    <span>loading-3-quarters</span>
                </li>
                <li>
                    <i nz-icon type="cloud-upload" theme="outline"></i>
                    <span>cloud-upload</span>
                </li>
                <li>
                    <i nz-icon type="star" theme="outline"></i>
                    <span>fullscreen-exit</span>
                </li>
                <li>
                    <i nz-icon type="heart" theme="outline"></i>
                    <span>heart</span>
                </li>
                <li>
                    <i nz-icon type="environment" theme="outline"></i>
                    <span>environment</span>
                </li>
                <li>
                    <i nz-icon type="eye" theme="outline"></i>
                    <span>eye</span>
                </li>
                <li>
                    <i nz-icon type="camera" theme="outline"></i>
                    <span>camera</span>
                </li>
                <li>
                    <i nz-icon type="save" theme="outline"></i>
                    <span>save</span>
                </li>
                <li>
                    <i nz-icon type="team" theme="outline"></i>
                    <span>team</span>
                </li>
                <li>
                    <i nz-icon type="solution" theme="outline"></i>
                    <span>solution</span>
                </li>
                <li>
                    <i nz-icon type="phone" theme="outline"></i>
                    <span>phone</span>
                </li>
                <li>
                    <i nz-icon type="filter" theme="outline"></i>
                    <span>filter</span>
                </li>
                <li>
                    <i nz-icon type="exception" theme="outline"></i>
                    <span>exception</span>
                </li>
                <li>
                    <i nz-icon type="export" theme="outline"></i>
                    <span>export</span>
                </li>
                <li>
                    <i nz-icon type="customer-service" theme="outline"></i>
                    <span>customer-service</span>
                </li>
                <li>
                    <i nz-icon type="qrcode" theme="outline"></i>
                    <span>qrcode</span>
                </li>
                <li>
                    <i nz-icon type="scan" theme="outline"></i>
                    <span>scan</span>
                </li>
                <li>
                    <i nz-icon type="like" theme="outline"></i>
                    <span>like</span>
                </li>
                <li>
                    <i nz-icon type="dislike" theme="outline"></i>
                    <span>dislike</span>
                </li>
                <li>
                    <i nz-icon type="message" theme="outline"></i>
                    <span>message</span>
                </li>
                <li>
                    <i nz-icon type="pay-circle" theme="outline"></i>
                    <span>pay-circle</span>
                </li>
                <li>
                    <i nz-icon type="calculator" theme="outline"></i>
                    <span>calculator</span>
                </li>
                <li>
                    <i nz-icon type="pushpin" theme="outline"></i>
                    <span>pushpin</span>
                </li>
                <li>
                    <i nz-icon type="bulb" theme="outline"></i>
                    <span>bulb</span>
                </li>
                <li>
                    <i nz-icon type="select" theme="outline"></i>
                    <span>select</span>
                </li>
                <li>
                    <i nz-icon type="switcher" theme="outline"></i>
                    <span>switcher</span>
                </li>
                <li>
                    <i nz-icon type="rocket" theme="outline"></i>
                    <span>rocket</span>
                </li>
                <li>
                    <i nz-icon type="bell" theme="outline"></i>
                    <span>bell</span>
                </li>
                <li>
                    <i nz-icon type="disconnect" theme="outline"></i>
                    <span>disconnect</span>
                </li>
                <li>
                    <i nz-icon type="database" theme="outline"></i>
                    <span>database</span>
                </li>
                <li>
                    <i nz-icon type="compass" theme="outline"></i>
                    <span>compass</span>
                </li>
                <li>
                    <i nz-icon type="barcode" theme="outline"></i>
                    <span>barcode</span>
                </li>
                <li>
                    <i nz-icon type="hourglass" theme="outline"></i>
                    <span>hourglass</span>
                </li>
                <li>
                    <i nz-icon type="key" theme="outline"></i>
                    <span>key</span>
                </li>
                <li>
                    <i nz-icon type="flag" theme="outline"></i>
                    <span>flag</span>
                </li>
                <li>
                    <i nz-icon type="layout" theme="outline"></i>
                    <span>layout</span>
                </li>
                <li>
                    <i nz-icon type="printer" theme="outline"></i>
                    <span>printer</span>
                </li>
                <li>
                    <i nz-icon type="sound" theme="outline"></i>
                    <span>sound</span>
                </li>
                <li>
                    <i nz-icon type="usb" theme="outline"></i>
                    <span>usb</span>
                </li>
                <li>
                    <i nz-icon type="skin" theme="outline"></i>
                    <span>skin</span>
                </li>
                <li>
                    <i nz-icon type="tool" theme="outline"></i>
                    <span>tool</span>
                </li>
                <li>
                    <i nz-icon type="sync" theme="outline"></i>
                    <span>sync</span>
                </li>
                <li>
                    <i nz-icon type="wifi" theme="outline"></i>
                    <span>wifi</span>
                </li>
                <li>
                    <i nz-icon type="car" theme="outline"></i>
                    <span>car</span>
                </li>
                <li>
                    <i nz-icon type="schedule" theme="outline"></i>
                    <span>schedule</span>
                </li>
                <li>
                    <i nz-icon type="user-add" theme="outline"></i>
                    <span>user-add</span>
                </li>
                <li>
                    <i nz-icon type="user-delete" theme="outline"></i>
                    <span>user-delete</span>
                </li>
                <li>
                    <i nz-icon type="usergroup-add" theme="outline"></i>
                    <span>usergroup-add</span>
                </li>
                <li>
                    <i nz-icon type="usergroup-delete" theme="outline"></i>
                    <span>usergroup-delete</span>
                </li>
                <li>
                    <i nz-icon type="man" theme="outline"></i>
                    <span>man</span>
                </li>
                <li>
                    <i nz-icon type="woman" theme="outline"></i>
                    <span>woman</span>
                </li>
                <li>
                    <i nz-icon type="shop" theme="outline"></i>
                    <span>shop</span>
                </li>
                <li>
                    <i nz-icon type="gift" theme="outline"></i>
                    <span>gift</span>
                </li>
                <li>
                    <i nz-icon type="idcard" theme="outline"></i>
                    <span>idcard</span>
                </li>
                <li>
                    <i nz-icon type="medicine-box" theme="outline"></i>
                    <span>medicine-box</span>
                </li>
                <li>
                    <i nz-icon type="red-envelope" theme="outline"></i>
                    <span>red-envelope</span>
                </li>
                <li>
                    <i nz-icon type="coffee" theme="outline"></i>
                    <span>coffee</span>
                </li>
                <li>
                    <i nz-icon type="copyright" theme="outline"></i>
                    <span>copyright</span>
                </li>
                <li>
                    <i nz-icon type="trademark" theme="outline"></i>
                    <span>trademark</span>
                </li>
                <li>
                    <i nz-icon type="safety" theme="outline"></i>
                    <span>safety</span>
                </li>
                <li>
                    <i nz-icon type="wallet" theme="outline"></i>
                    <span>wallet</span>
                </li>
                <li>
                    <i nz-icon type="bank" theme="outline"></i>
                    <span>bank</span>
                </li>
                <li>
                    <i nz-icon type="trophy" theme="outline"></i>
                    <span>trophy</span>
                </li>
                <li>
                    <i nz-icon type="contacts" theme="outline"></i>
                    <span>contacts</span>
                </li>
                <li>
                    <i nz-icon type="global" theme="outline"></i>
                    <span>global</span>
                </li>
                <li>
                    <i nz-icon type="shake" theme="outline"></i>
                    <span>shake</span>
                </li>
                <li>
                    <i nz-icon type="api" theme="outline"></i>
                    <span>api</span>
                </li>
                <li>
                    <i nz-icon type="fork" theme="outline"></i>
                    <span>fork</span>
                </li>
                <li>
                    <i nz-icon type="dashboard" theme="outline"></i>
                    <span>dashboard</span>
                </li>
                <li>
                    <i nz-icon type="table" theme="outline"></i>
                    <span>table</span>
                </li>
                <li>
                    <i nz-icon type="profile" theme="outline"></i>
                    <span>profile</span>
                </li>
                <li>
                    <i nz-icon type="alert" theme="outline"></i>
                    <span>alert</span>
                </li>
                <li>
                    <i nz-icon type="audit" theme="outline"></i>
                    <span>audit</span>
                </li>
                <li>
                    <i nz-icon type="branches" theme="outline"></i>
                    <span>branches</span>
                </li>
                <li>
                    <i nz-icon type="build" theme="outline"></i>
                    <span>build</span>
                </li>
                <li>
                    <i nz-icon type="border" theme="outline"></i>
                    <span>border</span>
                </li>
                <li>
                    <i nz-icon type="crown" theme="outline"></i>
                    <span>crown</span>
                </li>
                <li>
                    <i nz-icon type="experiment" theme="outline"></i>
                    <span>experiment</span>
                </li>
                <li>
                    <i nz-icon type="fire" theme="outline"></i>
                    <span>fire</span>
                </li>
                <li>
                    <i nz-icon type="money-collect" theme="outline"></i>
                    <span>money-collect</span>
                </li>
                <li>
                    <i nz-icon type="property-safety" theme="outline"></i>
                    <span>property-safety</span>
                </li>
                <li>
                    <i nz-icon type="read" theme="outline"></i>
                    <span>read</span>
                </li>
                <li>
                    <i nz-icon type="reconciliation" theme="outline"></i>
                    <span>reconciliation</span>
                </li>
                <li>
                    <i nz-icon type="rest" theme="outline"></i>
                    <span>rest</span>
                </li>
                <li>
                    <i nz-icon type="security-scan" theme="outline"></i>
                    <span>security-scan</span>
                </li>
                <li>
                    <i nz-icon type="insurance" theme="outline"></i>
                    <span>insurance</span>
                </li>
                <li>
                    <i nz-icon type="interation" theme="outline"></i>
                    <span>interation</span>
                </li>
                <li>
                    <i nz-icon type="safety-certificate" theme="outline"></i>
                    <span>safety-certificate</span>
                </li>
                <li>
                    <i nz-icon type="project" theme="outline"></i>
                    <span>project</span>
                </li>
                <li>
                    <i nz-icon type="thunderbolt" theme="outline"></i>
                    <span>thunderbolt</span>
                </li>
                <li>
                    <i nz-icon type="block" theme="outline"></i>
                    <span>block</span>
                </li>
                <li>
                    <i nz-icon type="cluster" theme="outline"></i>
                    <span>cluster</span>
                </li>
                <li>
                    <i nz-icon type="deployment-unit" theme="outline"></i>
                    <span>deployment-unit</span>
                </li>
                <li>
                    <i nz-icon type="dollar" theme="outline"></i>
                    <span>dollar</span>
                </li>
                <li>
                    <i nz-icon type="euro" theme="outline"></i>
                    <span>euro</span>
                </li>
                <li>
                    <i nz-icon type="pound" theme="outline"></i>
                    <span>pound</span>
                </li>
                <li>
                    <i nz-icon type="file-done" theme="outline"></i>
                    <span>file-done</span>
                </li>
                <li>
                    <i nz-icon type="file-exclamation" theme="outline"></i>
                    <span>file-exclamation</span>
                </li>
                <li>
                    <i nz-icon type="file-protect" theme="outline"></i>
                    <span>file-protect</span>
                </li>
                <li>
                    <i nz-icon type="file-search" theme="outline"></i>
                    <span>file-search</span>
                </li>
                <li>
                    <i nz-icon type="file-sync" theme="outline"></i>
                    <span>file-sync</span>
                </li>
                <li>
                    <i nz-icon type="gateway" theme="outline"></i>
                    <span>gateway</span>
                </li>
                <li>
                    <i nz-icon type="gold" theme="outline"></i>
                    <span>gold</span>
                </li>
                <li>
                    <i nz-icon type="robot" theme="outline"></i>
                    <span>robot</span>
                </li>
                <li>
                    <i nz-icon type="robot" theme="outline"></i>
                    <span>robot</span>
                </li>
                <li>
                    <i nz-icon type="shopping" theme="outline"></i>
                    <span>shopping</span>
                </li>
            </ul>
        </nz-card>
    </div>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="提示建议性图标">
            <ul class="icons-list">
                <li>
                    <i nz-icon type="question" theme="outline"></i>
                    <span>question</span>
                </li>
                <li>
                    <i nz-icon type="step-forward" theme="outline"></i>
                    <span>step-forward</span>
                </li>
                <li>
                    <i nz-icon type="question-circle" theme="outline"></i>
                    <span>question-circle</span>
                </li>
                <li>
                    <i nz-icon type="plus" theme="outline"></i>
                    <span>plus</span>
                </li>
                <li>
                    <i nz-icon type="plus-circle" theme="outline"></i>
                    <span>plus-circle</span>
                </li>
                <li>
                    <i nz-icon type="pause" theme="outline"></i>
                    <span>pause</span>
                </li>
                <li>
                    <i nz-icon type="pause-circle" theme="outline"></i>
                    <span>pause-circle</span>
                </li>
                <li>
                    <i nz-icon type="minus" theme="outline"></i>
                    <span>minus</span>
                </li>
                <li>
                    <i nz-icon type="minus-circle" theme="outline"></i>
                    <span>minus-circle</span>
                </li>
                <li>
                    <i nz-icon type="right" theme="outline"></i>
                    <span>right</span>
                </li>
                <li>
                    <i nz-icon type="plus-square" theme="outline"></i>
                    <span>plus-square</span>
                </li>
                <li>
                    <i nz-icon type="minus-square" theme="outline"></i>
                    <span>minus-square</span>
                </li>
                <li>
                    <i nz-icon type="info" theme="outline"></i>
                    <span>info</span>
                </li>
                <li>
                    <i nz-icon type="info-circle" theme="outline"></i>
                    <span>info-circle</span>
                </li>
                <li>
                    <i nz-icon type="exclamation" theme="outline"></i>
                    <span>exclamation</span>
                </li>
                <li>
                    <i nz-icon type="exclamation-circle" theme="outline"></i>
                    <span>exclamation-circle</span>
                </li>
                <li>
                    <i nz-icon type="close" theme="outline"></i>
                    <span>close</span>
                </li>
                <li>
                    <i nz-icon type="close-circle" theme="outline"></i>
                    <span>close-circle</span>
                </li>
                <li>
                    <i nz-icon type="double-right" theme="outline"></i>
                    <span>double-right</span>
                </li>
                <li>
                    <i nz-icon type="close-square" theme="outline"></i>
                    <span>close-square</span>
                </li>
                <li>
                    <i nz-icon type="check" theme="outline"></i>
                    <span>check</span>
                </li>
                <li>
                    <i nz-icon type="check-circle" theme="outline"></i>
                    <span>check-circle</span>
                </li>
                <li>
                    <i nz-icon type="check-square" theme="outline"></i>
                    <span>check-square</span>
                </li>
                <li>
                    <i nz-icon type="clock-circle" theme="outline"></i>
                    <span>clock-circle</span>
                </li>
                <li>
                    <i nz-icon type="warning" theme="outline"></i>
                    <span>warning</span>
                </li>
                <li>
                    <i nz-icon type="issues-close" theme="outline"></i>
                    <span>issues-close</span>
                </li>
                <li>
                    <i nz-icon type="stop" theme="outline"></i>
                    <span>stop</span>
                </li>
            </ul>
        </nz-card>
    </div>
    <div nz-col [nzMd]="12">
        <nz-card nzTitle="编辑类图标">
            <ul class="icons-list">
                <li>
                    <i nz-icon type="edit" theme="outline"></i>
                    <span>edit</span>
                </li>
                <li>
                    <i nz-icon type="step-forward" theme="outline"></i>
                    <span>step-forward</span>
                </li>
                <li>
                    <i nz-icon type="form" theme="outline"></i>
                    <span>form</span>
                </li>
                <li>
                    <i nz-icon type="copy" theme="outline"></i>
                    <span>copy</span>
                </li>
                <li>
                    <i nz-icon type="scissor" theme="outline"></i>
                    <span>scissor</span>
                </li>
                <li>
                    <i nz-icon type="delete" theme="outline"></i>
                    <span>delete</span>
                </li>
                <li>
                    <i nz-icon type="snippets" theme="outline"></i>
                    <span>snippets</span>
                </li>
                <li>
                    <i nz-icon type="diff" theme="outline"></i>
                    <span>diff</span>
                </li>
                <li>
                    <i nz-icon type="highlight" theme="outline"></i>
                    <span>highlight</span>
                </li>
                <li>
                    <i nz-icon type="align-center" theme="outline"></i>
                    <span>align-center</span>
                </li>
                <li>
                    <i nz-icon type="align-left" theme="outline"></i>
                    <span>align-left</span>
                </li>
                <li>
                    <i nz-icon type="align-right" theme="outline"></i>
                    <span>align-right</span>
                </li>
                <li>
                    <i nz-icon type="bg-colors" theme="outline"></i>
                    <span>bg-colors</span>
                </li>
                <li>
                    <i nz-icon type="bold" theme="outline"></i>
                    <span>bold</span>
                </li>
                <li>
                    <i nz-icon type="italic" theme="outline"></i>
                    <span>italic</span>
                </li>
                <li>
                    <i nz-icon type="underline" theme="outline"></i>
                    <span>underline</span>
                </li>
                <li>
                    <i nz-icon type="strikethrough" theme="outline"></i>
                    <span>strikethrough</span>
                </li>
                <li>
                    <i nz-icon type="redo" theme="outline"></i>
                    <span>redo</span>
                </li>
                <li>
                    <i nz-icon type="undo" theme="outline"></i>
                    <span>undo</span>
                </li>
                <li>
                    <i nz-icon type="zoom-in" theme="outline"></i>
                    <span>zoom-in</span>
                </li>
                <li>
                    <i nz-icon type="zoom-out" theme="outline"></i>
                    <span>zoom-out</span>
                </li>
                <li>
                    <i nz-icon type="font-colors" theme="outline"></i>
                    <span>font-colors</span>
                </li>
                <li>
                    <i nz-icon type="font-size" theme="outline"></i>
                    <span>font-size</span>
                </li>
                <li>
                    <i nz-icon type="line-height" theme="outline"></i>
                    <span>line-height</span>
                </li>
                <li>
                    <i nz-icon type="colum-height" theme="outline"></i>
                    <span>colum-height</span>
                </li>
                <li>
                    <i nz-icon type="issues-close" theme="outline"></i>
                    <span>issues-close</span>
                </li>
                <li>
                    <i nz-icon type="dash" theme="outline"></i>
                    <span>dash</span>
                </li>
                <li>
                    <i nz-icon type="small-dash" theme="outline"></i>
                    <span>small-dash</span>
                </li>
                <li>
                    <i nz-icon type="sort-ascending" theme="outline"></i>
                    <span>sort-ascending</span>
                </li>
                <li>
                    <i nz-icon type="sort-descending" theme="outline"></i>
                    <span>sort-descending</span>
                </li>
                <li>
                    <i nz-icon type="drag" theme="outline"></i>
                    <span>drag</span>
                </li>
                <li>
                    <i nz-icon type="ordered-list" theme="outline"></i>
                    <span>ordered-list</span>
                </li>
                <li>
                    <i nz-icon type="radius-setting" theme="outline"></i>
                    <span>radius-setting</span>
                </li>
            </ul>
        </nz-card>
    </div>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24">
        <nz-card nzTitle="品牌和标识">
            <ul class="icons-list">
                <li>
                    <i nz-icon type="android" theme="outline"></i>
                    <span>android</span>
                </li>
                <li>
                    <i nz-icon type="apple" theme="outline"></i>
                    <span>apple</span>
                </li>
                <li>
                    <i nz-icon type="windows" theme="outline"></i>
                    <span>windows</span>
                </li>
                <li>
                    <i nz-icon type="ie" theme="outline"></i>
                    <span>ie</span>
                </li>
                <li>
                    <i nz-icon type="chrome" theme="outline"></i>
                    <span>chrome</span>
                </li>
                <li>
                    <i nz-icon type="github" theme="outline"></i>
                    <span>github</span>
                </li>
                <li>
                    <i nz-icon type="aliwangwang" theme="outline"></i>
                    <span>aliwangwang</span>
                </li>
                <li>
                    <i nz-icon type="dingding" theme="outline"></i>
                    <span>dingding</span>
                </li>
                <li>
                    <i nz-icon type="weibo-square" theme="outline"></i>
                    <span>weibo-square</span>
                </li>
                <li>
                    <i nz-icon type="weibo-circle" theme="outline"></i>
                    <span>weibo-circle</span>
                </li>
                <li>
                    <i nz-icon type="taobao-circle" theme="outline"></i>
                    <span>taobao-circle</span>
                </li>
                <li>
                    <i nz-icon type="html5" theme="outline"></i>
                    <span>html5</span>
                </li>
                <li>
                    <i nz-icon type="weibo" theme="outline"></i>
                    <span>weibo</span>
                </li>
                <li>
                    <i nz-icon type="twitter" theme="outline"></i>
                    <span>twitter</span>
                </li>
                <li>
                    <i nz-icon type="wechat" theme="outline"></i>
                    <span>wechat</span>
                </li>
                <li>
                    <i nz-icon type="youtube" theme="outline"></i>
                    <span>youtube</span>
                </li>
                <li>
                    <i nz-icon type="alipay-circle" theme="outline"></i>
                    <span>alipay-circle</span>
                </li>
                <li>
                    <i nz-icon type="taobao" theme="outline"></i>
                    <span>taobao</span>
                </li>
                <li>
                    <i nz-icon type="skype" theme="outline"></i>
                    <span>skype</span>
                </li>
                <li>
                    <i nz-icon type="qq" theme="outline"></i>
                    <span>qq</span>
                </li>
                <li>
                    <i nz-icon type="medium-workmark" theme="outline"></i>
                    <span>medium-workmark</span>
                </li>
                <li>
                    <i nz-icon type="gitlab" theme="outline"></i>
                    <span>gitlab</span>
                </li>
                <li>
                    <i nz-icon type="medium" theme="outline"></i>
                    <span>medium</span>
                </li>
                <li>
                    <i nz-icon type="linkedin" theme="outline"></i>
                    <span>linkedin</span>
                </li>
                <li>
                    <i nz-icon type="google-plus" theme="outline"></i>
                    <span>google-plus</span>
                </li>
                <li>
                    <i nz-icon type="dropbox" theme="outline"></i>
                    <span>dropbox</span>
                </li>
                <li>
                    <i nz-icon type="facebook" theme="outline"></i>
                    <span>facebook</span>
                </li>
                <li>
                    <i nz-icon type="codepen" theme="outline"></i>
                    <span>codepen</span>
                </li>
                <li>
                    <i nz-icon type="amazon" theme="outline"></i>
                    <span>amazon</span>
                </li>
                <li>
                    <i nz-icon type="linkedin" theme="outline"></i>
                    <span>linkedin</span>
                </li>
                <li>
                    <i nz-icon type="codepen-circle" theme="outline"></i>
                    <span>codepen-circle</span>
                </li>
                <li>
                    <i nz-icon type="alipay" theme="outline"></i>
                    <span>alipay</span>
                </li>
                <li>
                    <i nz-icon type="ant-design" theme="outline"></i>
                    <span>ant-design</span>
                </li>
                <li>
                    <i nz-icon type="aliyun" theme="outline"></i>
                    <span>aliyun</span>
                </li>
                <li>
                    <i nz-icon type="zhihu" theme="outline"></i>
                    <span>zhihu</span>
                </li>
                <li>
                    <i nz-icon type="slack" theme="outline"></i>
                    <span>slack</span>
                </li>
                <li>
                    <i nz-icon type="slack-square" theme="outline"></i>
                    <span>slack-square</span>
                </li>
                <li>
                    <i nz-icon type="behance" theme="outline"></i>
                    <span>behance</span>
                </li>
                <li>
                    <i nz-icon type="dribbble" theme="outline"></i>
                    <span>dribbble</span>
                </li>
                <li>
                    <i nz-icon type="instagram" theme="outline"></i>
                    <span>instagram</span>
                </li>
                <li>
                    <i nz-icon type="dribbble-square" theme="outline"></i>
                    <span>dribbble-square</span>
                </li>
                <li>
                    <i nz-icon type="yuque" theme="outline"></i>
                    <span>yuque</span>
                </li>
                <li>
                    <i nz-icon type="alibaba" theme="outline"></i>
                    <span>alibaba</span>
                </li>
                <li>
                    <i nz-icon type="yahoo" theme="outline"></i>
                    <span>yahoo</span>
                </li>
            </ul>
        </nz-card>
    </div>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="24">
        <nz-card nzTitle="数据类图标">
            <ul class="icons-list">
                <li>
                    <i nz-icon type="area-chart" theme="outline"></i>
                    <span>area-chart</span>
                </li>
                <li>
                    <i nz-icon type="step-forward" theme="outline"></i>
                    <span>step-forward</span>
                </li>
                <li>
                    <i nz-icon type="pie-chart" theme="outline"></i>
                    <span>pie-chart</span>
                </li>
                <li>
                    <i nz-icon type="bar-chart" theme="outline"></i>
                    <span>bar-chart</span>
                </li>
                <li>
                    <i nz-icon type="dot-chart" theme="outline"></i>
                    <span>dot-chart</span>
                </li>
                <li>
                    <i nz-icon type="line-chart" theme="outline"></i>
                    <span>line-chart</span>
                </li>
                <li>
                    <i nz-icon type="radar-chart" theme="outline"></i>
                    <span>radar-chart</span>
                </li>
                <li>
                    <i nz-icon type="heat-map" theme="outline"></i>
                    <span>heat-map</span>
                </li>
                <li>
                    <i nz-icon type="fall" theme="outline"></i>
                    <span>fall</span>
                </li>
                <li>
                    <i nz-icon type="rise" theme="outline"></i>
                    <span>rise</span>
                </li>
                <li>
                    <i nz-icon type="stock" theme="outline"></i>
                    <span>stock</span>
                </li>
                <li>
                    <i nz-icon type="box-plot" theme="outline"></i>
                    <span>box-plot</span>
                </li>
                <li>
                    <i nz-icon type="fund" theme="outline"></i>
                    <span>fund</span>
                </li>
                <li>
                    <i nz-icon type="sliders" theme="outline"></i>
                    <span>sliders</span>
                </li>
            </ul>
        </nz-card>
    </div>
</div>
