<div class="container">
    <div class="wrap">
        <div class="top">
            <div class="head">
                <img class="logo" src="./assets/logo-color.svg">
                <span class="title">海邦管理后台</span>
                <p class="helloWord">welcome to hibont background management system</p>
            </div>
            <div class="desc"></div>
        </div>
        <router-outlet></router-outlet>
        <global-footer [links]="links">
            Copyright
            <i class="anticon anticon-copyright"></i> 2017
            <a href="//www.berbuy.com" target="_blank">海邦</a>出品
        </global-footer>
    </div>
</div>
