<div class="modal-header">
    <div class="modal-title">短信推送-详情</div>
</div>
<form #f="ngForm" (ngSubmit)="save(f.form)" nz-form *ngIf="ali">
    <nz-form-item class="mb-sm">
        <nz-form-label nzSpan="4">id</nz-form-label>
        <nz-form-control nzSpan="8">
            <span>{{ali.id}}</span>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mb-sm">
        <nz-form-label nzSpan="4">类型</nz-form-label>
        <nz-form-control nzSpan="8">
            <span>{{ali.kind}}</span>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mb-sm">
        <nz-form-label nzSpan="4">号码</nz-form-label>
        <nz-form-control nzSpan="8">
            <span>{{ali.phone}}</span>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mb-sm">
        <nz-form-label nzSpan="4">内容</nz-form-label>
        <nz-form-control nzSpan="8">
            <span>{{ali.content}}</span>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mb-sm">
        <nz-form-label nzSpan="4">状态</nz-form-label>
        <nz-form-control nzSpan="8">
            <span *ngIf="ali.status == 1">已发送</span>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mb-sm">
        <nz-form-label nzSpan="4">推送结果</nz-form-label>
        <nz-form-control nzSpan="8">
            <span>{{ali.result}}</span>
        </nz-form-control>
    </nz-form-item>
    <div class="modal-footer">
        <button nz-button [nzType]="'primary'" (click)="close()">确定</button>
    </div>
</form>
