<nz-spin [nzSpinning]="userLoading">
    <div class="main" *ngIf="user">
        <div class="left">
            <form nz-form nzLayout="vertical" #f="ngForm" (submit)="save()" se-container="1">
                <se label="邮箱" error="请输入您的邮箱!">
                    <input nz-input type="email" [(ngModel)]="user.email" name="email" required>
                </se>
                <se label="昵称" error="请输入您的昵称!">
                    <input nz-input [(ngModel)]="user.name" name="name" required>
                </se>
                <se label="个人简介">
                      <textarea nz-input [(ngModel)]="user.profile" name="profile" [nzAutosize]="{ minRows: 4, maxRows: 10 }" placeholder="个人简介" >
                      </textarea>
                </se>
                <se label="联系电话" error="请输入您的联系电话!">
                    <input nz-input [(ngModel)]="user.phone" name="phone" required>
                </se>
                <se label="已关联机构">
                    <span #companySpan></span>
                </se>
                <se>
                    <button nz-button nzType="primary" [disabled]="f.invalid">更新基本信息</button>
                </se>
            </form>
        </div>
        <div class="right">
            <div class="avatar_title">Avatar</div>
            <div class="avatar">
                <img [src]="user.avatar" alt="Avatar" (click)="previewPic()">
            </div>
            <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
                <ng-template #modalContent>
                    <img [src]="user.avatar" [ngStyle]="{ 'width': '100%' }" />
                </ng-template>
            </nz-modal>
            <nz-upload class="avatar-uploader"
                       [nzAction]="upLoadUrl"
                       nzListType="picture"
                       [nzShowUploadList]="false"
                       [nzBeforeUpload]="beforeUpload"
                       (nzChange)="handleChange($event)">
                <button nz-button class="button_view">
                    <i nz-icon type="upload"></i>
                    <span>更换头像</span>
                </button>
            </nz-upload>
        </div>
    </div>
</nz-spin>
