:host ::ng-deep .avatar-uploader > .ant-upload, :host ::ng-deep .avatar {
    width: 128px;
    height: 128px;
}
:host ::ng-deep .ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
}
:host ::ng-deep .ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
}
