body{
    font-family: Microsoft YaHei!important;
}
h1,h2{
    font-weight: bold!important;
}
h2{
    font-size: 18px;
}
.nzCard{
    width: 49%;
    left: 27%;
    margin-top: 35px;
}
div.extra_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul.statement_items{
    list-style: none!important;
    padding-left: 0!important;
}
