<div class="modal-header">
    <div class="modal-title">平台-详情</div>
</div>
<form #f="ngForm" (ngSubmit)="save(f.form)" nz-form *ngIf="platform">
    <nz-form-item class="mb-sm">
        <nz-form-label nzSpan="4">平台id</nz-form-label>
        <nz-form-control nzSpan="8">
            <span>{{platform.id}}</span>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mb-sm">
        <nz-form-label nzSpan="4">平台名称</nz-form-label>
        <nz-form-control nzSpan="8">
            <span>{{platform.platformName}}</span>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mb-sm">
        <nz-form-label nzSpan="4">商品前缀</nz-form-label>
        <nz-form-control nzSpan="16">
            <span>{{platform.preLink}}</span>
        </nz-form-control>
    </nz-form-item>
    <div class="modal-footer">
        <button nz-button [nzType]="'primary'" (click)="close()">确定</button>
    </div>
</form>
