<div style="
    width: 100%;
    text-align: center;
    padding: 20px;
    z-index: 9999;
">
    <span class="created-by">Copyright
    <img src="../../../../assets/copyright.png" alt="">2015-2020
    <a href="http://www.hibont.com/">Hibont.com</a> 海邦网络科技 版权所有   闽ICP备16010095号-3</span>
    <a style="margin-left: 20px" [routerLink]="['/privacy']">隐私</a>
    <a style="margin-left: 20px" [routerLink]="['/clause']">条款</a>
    <a style="margin-left: 20px" [routerLink]="['/systems/settings/browserSupport']">浏览器支持</a>
</div>
